<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AtonSocket" type="AtonSocket.Config.AtonSocketConfiguration, Aton.AtonSocket.Core"></section>
  </configSections>
  <AtonSocket>
    <SocketServer Name="DemoEchoServer" Desc="demo" ServerIp="127.0.0.1" ServerPort="8088" Protocol="TCP" BackLogCount="1000" />
    <ServerSession BufferSize="1024" MaxSessionCount="10000" />
    <MessageProcesor Assembly="ConsoleEchoServer"  LoadPattern="Config/Reflection">
      <Protocol Name="FixSizeProtocol" Type="AtonSocket.Protocol.FixSizeProtocol,Aton.Protocol" />
      <ConnectFilters>
        <ConnectFilter Name="DemoFilter1" Type="AtonSocket.Demo.DemoHandler2,Aton.Demo"></ConnectFilter>
        <ConnectFilter Name="DemoFilter2" Type="AtonSocket.Demo.DemoHandler2,Aton.Demo"></ConnectFilter>
      </ConnectFilters>
      <RequestFilters>
        <RequestFilter Name="filter1" Type="AtonSocket.Demo.DemoHandler1,Aton.Demo" />
      </RequestFilters>
      <RequestHandlers>
        <RequestHandler Name="handler1" Type="AtonSocket.Demo.DemoHandler1,Aton.Demo" />
      </RequestHandlers>
    </MessageProcesor>
  </AtonSocket>
</configuration>